body {
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/postwarjapan/bg_grad.gif") #e5e5e5 repeat-x;
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: helvetica, arial, sans-serif;
	font-size: 62.5%;
	color: #444;
	line-height:1.5em;
}
#container {
	margin: 0 auto;
	width: 730px;
}
#above { height: 16px;}
#top_shadow {
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/postwarjapan/shadow_top.gif") no-repeat;
	width: 730px;
	height: 12px;
}
#main {
	width: 730px;
	background-color: #fff;
	text-align: left;
}
#left_shadow {
	width: 9px;
	height: 296px;
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/postwarjapan/shadow_left.gif") no-repeat;
	float: left;
	margin: 0;
	padding: 0;
}
#right_shadow {
	width: 9px;
	height: 296px;
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/postwarjapan/shadow_right.gif") no-repeat;
	float: right;
}
#main_shadow {
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/postwarjapan/bg_main.gif") repeat-y;
	width: 730px;
	float:left;
}
#nav {
	margin: 63px 110px 35px 0 !important;
	margin: 60px 57px 35px 0;
	text-align:left;
	float:right;
}
#nav a {
	color: #545b68;
	font-size: 1.6em;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.3em;
}
#nav a:hover, #nav a:focus, #nav a:active { color: #db5880;}
#nav .current {
	font-size: 1.6em;
	text-transform: uppercase;
	text-decoration: none;
	color: #02769e;
	line-height: 1.3em;
}
#starlink a {
	display: block;
	float: left;
	width: 56px;
	height: 74px;
	margin: 11px 0 0 12px !important;
	margin: 11px 0 0 5px;
}
#content_main {
	float: left;
	width: 712px;
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/postwarjapan/bg_top.gif") #fff no-repeat;
}
#content_wrap {
	padding: 0 20px 0 20px;
	clear:both;
}
#slideshow_wrap {
	padding: 25px 20px 0 20px;
	text-align: center;
	clear:both;
}
#resource_wrap {
	padding: 35px 20px 0 20px;
	clear:both;
}
#resource_wrap p {
	font-size: 1.2em;
	line-height: 1.5em;
	margin: 0 0 10px 0;
}
#resource_wrap a {
	color: #02769e;
	text-decoration: none;
}
#resource_wrap a:hover, #resource_wrap a:focus, #resource_wrap a:active {
	color: #db5880;
	text-decoration: underline;
}
#thumb_contain  {
	float: right;
	width: 345px;
	height: 250px;
	text-align: center;
}
#thumb_contain a img {
	border: 0;
	margin-bottom: 4px;
}
a.transcript {
	color: #02769e;
	text-decoration: none;
}
a.transcript:hover, a.transcript:focus , a.transcript:active {
	color: #db5880;
	text-decoration: underline;
}
.thumb_box {
	float: right;
	height: 150px;
	width: 96px;
	margin-left: 15px;
	padding:0;
}
.thumb_link {
	float: left;
	height: 80px;
	display: block;
	background-color: #02769e;
	padding: 1px 1px 0 1px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 3px;
}
.thumb_link:hover, .thumb_link:focus, .thumb_link:active { background-color: #db5880;}
.main_pic {
	border: 1px solid #02769e;
	float: left;
	margin-top: 35px;
}
.main_text {
	clear: both;
	float: left;
	line-height: 1.4em;
	font-size: 1.2em;
	width: 100%;
	padding-top: 15px;
}
.big {
	font-size: 1.4em;
	text-transform: uppercase;
}
#resources_left {
	float: left;
	width: 325px;
	padding-right: 10px;
}
#resources_right {
	float: left;
	width: 335px;
}
h2 {
	font-weight: normal;
	font-size: 2em;
	margin: 10px 0 10px 0;
	text-transform: uppercase;
	color: #545b68;
}
h3 {
	text-align: left;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 2em;
	margin: 0 0 8px 0;
	color: #02769e;
}
h4 {
	font-weight: normal;
	font-size: 1.6em;
	margin: 15px 0 2px 0;
	text-transform: uppercase;
	color: #02769e;
}
#bottom_shadow {
	width: 730px;
	height: 15px;
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/postwarjapan/bottom.gif") no-repeat;
	float: left;
	clear: both;
}
#footer {
	height: 45px;
	clear: both;
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/postwarjapan/bg_foot.gif") #fff no-repeat center top;
	padding-top: 57px;
}
#footer ul {
	margin: 8px auto 0 auto;
	width: 610px;
}
#footer li {
	float: left;
	margin: 0 20px;
	font-size: 1.2em;
	list-style: none;
}
#footer li a {
	text-decoration: none;
	color: #02769e;
}
#footer li a:hover, #footer li a:focus, #footer li a:active { text-decoration: underline;}
.altHeader { display: none;}
#modDate { display: none;}
.transcript_wrap {
	text-align: left;
	padding: 1em;
	font-size: 1.5em;
	background: #fff;
	width: 50%;
	margin: 1em auto;
	line-height: 1.5em;
}
.timestamp {
	margin-top: 10px;
	font-size: 1.1em;
}

/*	skip navigation and other display content off screen items	*/

.head, h1 { 
position: absolute; 
left: -10000px;
top: auto; 
width: 1px; 
height: 1px; 
overflow: hidden;
}
