/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:middle;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #fff; } /*607890*/
a:hover, a:hover a:active { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


 /* Primary Styles
    Author: William Deacon
 */



body {
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/postwarjapan/bg_grad.gif") #e5e5e5 repeat-x;
/*	text-align: center;*/
	margin: 0;
	padding: 0;
	font-family: helvetica, arial, sans-serif;
	font-size: 62.5%;
	color: #444;
	line-height:1.5em;
}
#container {
	margin: 0 auto;
	width: 730px;
}
#above { height: 16px;}
#top_shadow {
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/postwarjapan/shadow_top.gif") no-repeat;
	width: 730px;
	height: 12px;
}
#main {
	width: 730px;
	background-color: #fff;
	text-align: left;
}
#left_shadow {
	width: 9px;
	height: 195px;/*296px*/
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/postwarjapan/shadow_left.gif") no-repeat;
	float: left;
	margin: 0;
	padding: 0;
}
#right_shadow {
	width: 9px;
	height: 195px;/*296px*/
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/postwarjapan/shadow_right.gif") no-repeat;
	float: right;
}
#main_shadow {
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/postwarjapan/bg_main.gif") repeat-y;
	width: 730px;
	float:left;
}
#nav {
	margin: 63px 110px 35px 0 !important;
	margin: 60px 57px 35px 0;
	text-align:left;
	float:right;
}
#nav a {
	color: #545b68;
	font-size: 1.6em;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.3em;
}
#nav a:hover, #nav a:focus, #nav a:active { color: #db5880;}
#nav .current {
	font-size: 1.6em;
	text-transform: uppercase;
	text-decoration: none;
	color: #02769e;
	line-height: 1.3em;
}
#starlink a {
	display: block;
	float: left;
	width: 56px;
	height: 74px;
	margin: 11px 0 0 12px !important;
	margin: 11px 0 0 5px;
}
#content_main {
	position: relative;
	float: left;
	width: 712px;
	height: 195px;
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/postwarjapan/bg_top_1.gif") #fff no-repeat;
}
#logo a{
	position: absolute;
	width: 250px;
	height: 150px;
	top: 0px;
	left: 225px;
	text-indent: -9999px;
}
#content_wrap {
	padding: 0 20px 0 20px;
	width:672px;
	margin:0 auto;
	clear:both;
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/postwarjapan/bg_top_2.gif") #fff no-repeat;
}
#slideshow_wrap {
	padding: 2px 20px 0 20px;
	text-align: center;
	clear:both;
}
#resource_wrap {
	padding: 2px 20px 0 20px;
	clear:both;
	width: 672px;
	margin: 0 auto;
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/postwarjapan/bg_top_2.gif") #fff no-repeat;
}
#resource_wrap p {
	font-size: 1.2em;
	line-height: 1.5em;
	margin: 0 0 10px 0;
}
#resource_wrap a {
	color: #02769e;
	text-decoration: none;
}
#resource_wrap a:hover, #resource_wrap a:focus, #resource_wrap a:active {
	color: #db5880;
	text-decoration: underline;
}
#thumb_contain  {
	float: right;
	width: 345px;
	height: 250px;
	text-align: center;
}
#thumb_contain a img {
	border: 0;
	margin-bottom: 4px;
}
a.transcript {
	color: #02769e;
	text-decoration: none;
}
a.transcript:hover, a.transcript:focus, a.transcript:actvie {
	color: #db5880;
	text-decoration: underline;
}
.thumb_box {
	float: right;
	height: 150px;
	width: 96px;
	margin-left: 15px;
	padding:0;
}
.thumb_link {
	float: left;
	height: 80px;
	display: block;
	background-color: #02769e;
	padding: 1px 1px 0 1px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
    margin-bottom: 3px;
}

.thumb_link a{
	margin-top: -5px;
}

.thumb_link:hover, .thumb_link:focus, .thumb_link:active { background-color: #db5880;}
.main_pic {
	border: none;
	float: left;
	margin-top: 35px;
}
#video {
	margin-top: -25px;
}
.main_text {
	clear: both;
	float: left;
	line-height: 1.4em;
	font-size: 1.2em;
	width: 100%;
	padding-top: 15px;
}
.big {
	font-size: 1.4em;
	text-transform: uppercase;
}
#resources_left {
	float: left;
	width: 325px;
	padding-right: 10px;
}
#resources_right {
	float: left;
	width: 335px;
}
h2 {
	font-weight: normal;
	font-size: 2em;
	margin: 10px 0 10px 0;
	text-transform: uppercase;
	color: #545b68;
}
h3 {
	text-align: left;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 2em;
	margin: 0 0 8px 0;
	color: #02769e;
}
h4 {
	font-weight: normal;
	font-size: 1.6em;
	margin: 15px 0 2px 0;
	text-transform: uppercase;
	color: #02769e;
}
#bottom_shadow {
	width: 730px;
	height: 15px;
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/postwarjapan/bottom.gif") no-repeat;
	float: left;
	clear: both;
}
.footer {
	height: 45px;
	clear: both;
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/postwarjapan/bg_foot.gif") #fff no-repeat center top;
	padding-top: 57px;
}
.footer ul {
	margin: 8px auto 0 65px;
	width: 610px;
}
.footer li {
	float: left;
	margin: 0 20px;
	font-size: 1.2em;
	list-style: none;
}
.footer li a {
	text-decoration: none;
	color: #02769e;
}
.footer li a:hover, #footer li a:focus, #footer li a:active { text-decoration: underline;}
.altHeader { display: none;}
#modDate { display: none;}
.transcript_wrap {
	text-align: left;
	padding: 15px;
	font-size: 1.2em;
	background: #fff;
}
.timestamp {
	margin-top: 10px;
	font-size: 1.1em;
}

/*	skip navigation and other display content off screen items	*/
.head, h1 { 
position: absolute; 
left: -10000px;
top: auto; 
width: 1px; 
height: 1px; 
overflow: hidden;
}

.skip2 a { display: block; position: absolute; left: -10000px; top: auto; width: 100%; height: 3em; font-weight: bold; text-align: center; font-size:1.5em; color: #3d3d3d;} 
.skip2 a:active, .skip2 a:focus { background: #e5e5e5; position: static; width: auto; height: auto; padding: 1em; margin: auto;}

#content_wrap, #resource_wrap { position:relative; }

#socialButtons { position:relative; right:0; top: 0;}
#socialButtons #plusContain, #socialButtons #likeContain { float:right; clear:none; margin-right: 5px;}

/*-------------- Social Media Widget --------------*/
#addThis{width:95%; margin:0px auto; font-size:11px;}
#addThis a{text-decoration: none;}
#addThis h2{text-indent: -9999px; height:100%;}
#addThis ul{color:#b1b1b1;display:block;float:left;list-style:none outside none;width:100%;margin:-5px 5px 5px 3em;padding: 0 0 0 5px;}
#addThis ul#tops li{width:16%; margin-top:5px;}
#addThis li{float:left;width:19.5%;margin:2px 0;padding:0;}
#addThis li:hover,#addThis li:focus,#addThis li:active{color:#db5880;}
#addThis li span{color:#02769e;}
#addThis li span:hover,#addThis li span:focus,#addThis li span:active{color:#db5880; cursor:pointer;}
.share_sprite .textLink{float:left;margin-left:21px;width:80px;display:block;}
.share_sprite{display:inline;float:left;height:16px;width:16px;margin:4px;}
#footer .armystar{top:-10px;}
#tops .share_sprite .textLink {width:80px;}

.facebook { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 0 no-repeat; }
.twitter { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -16px no-repeat; }
.googleplus { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -32px no-repeat; }
.pinterest { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -48px no-repeat; }
.stumbleupon { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -64px no-repeat; }
.reddit { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -80px no-repeat; }
.linkedin { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -96px no-repeat; }
.all { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -112px no-repeat; }
.share_sprite .textLink:hover, .share_sprite .textLink:focus, .share_sprite .textLink:active {color:#fff;cursor:pointer;}
/*-------------- /Social Media Widget --------------*/


@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}